/*LOGIN*/
html, body{
	height: 100%;   
}
#Formulario{	
/*    height: 100%;*/
    padding-top: 100px;  
    padding-left: 300px;
}
/*#Form{    	
	padding: 10px;
	border-radius: 5px;

}*/

/*INDEX*/

  /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
      
  
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #101010;
      color: #fff;
      padding: 4px;
    }
    /*Transparencia imagen*/
div.polaroid {  
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.cont {
  text-align: center;
  padding: 10px 20px;
}
