<!DOCTYPE>
<HTML LANG="ES">
    <HEAD> 
	<TITLE>
	    REDPAZ
	</TITLE>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--Boostrap-Jquery-->
	<link rel="stylesheet" href="../Libraries/bootstrap/css/bootstrap.min.css">
	<script src="../Libraries/Jquery/jquery-3.2.1.min.js"></script>
	<script src="../Libraries/bootstrap/js/bootstrap.min.js"></script>
	<script src="../js/usuario.js"></script>
	<!--Css-->
	<link rel="stylesheet" href="../css/style.css">
    </HEAD>
    <BODY>
	<!--Container total Logueo-->
	<div class="container" id="logueo" style="display:none">
	    <!--Row-->
	    <div class="container-fluid">  		
		<!--Formulario-->
		<div class="col-md-4" id="Formulario">
		    <!--Titulo-->
		    <div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-12  col-sm-6 col-sm-offset-3">
			    <img src="../Images/Logo.PNG" id="logo" class="img-responsive">
			</div>                             
		    </div>  
		    <!--Titulo-->
		    <!--Logeo-->
		    <div class="form-group">
			<label for="email" class="control-label">Email address:</label>
			<div class="col-sm-6">
			    <input type="email" class="form-control" placeholder="Correo" id="email">
			</div>
		    </div>
		    <div class="form-group">
			<label for="pwd" class="sr-only">Password:</label>
			<div class="col-sm-6">
			    <input type="password" class="form-control" placeholder="Contraseña" id="pwd">
			</div>
		    </div>
		    <div class="checkbox">
			<label><input type="checkbox"> Remember me</label>
		    </div>
		    <button id="access" class="btn btn-danger col-md-offset-2">Login</button>
		    <!--Ingresar a otra cuenta modal-->
		    <!--<div class="text-center">
			<a href="javascript:void(0)" data-toggle="modal" data-target="#registro">Regístrate Ya!!!</a>
		    </div>-->
		    <!-- Fin Ingresar a otra cuenta modal-->

		    <!--Logeo-->				
		</div>
		<!--Fin Formulario--> 		
	    </div>
	    <!--Fin Row-->
	</div>
	<!--Fin Container Total  Logueo-->

	<!--Container Total Categorias-->

	<div class="container">

	    <div class="col-md-8">

		<div class="row">
		    <div class="col-md-8 col-md-offset-2 col-xs-12  col-sm-6 col-sm-offset-3">
			<img src="../Images/Logo.PNG" id="logo" class="img-responsive">
		    </div>                             
		</div>  
		<!--Titulo-->
		<!--Logeo-->
		<div class="form-group">
		    <label for="perfiles" class="control-label">Perfiles:</label>
		    <div class="col-sm-6">
			<select class="form-control" id="perfiles">
				
			</select>
		    </div>
		</div>
		
		<button id="access" class="btn btn-danger col-md-offset-2">Iniciar Foro</button>
	    </div>
	</div>

	<!--Fin Container Total Categorias-->
    </BODY>