<!DOCTYPE>
<HTML LANG="ES">
    <HEAD> 
	<TITLE>
	    REDPAZ
	</TITLE>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--Boostrap-Jquery-->
	<link rel="stylesheet" href="../Libraries/bootstrap/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
	<!--<script src="../Libraries/Jquery/jquery-3.2.1.min.js"></script>
	<script src="../Libraries/bootstrap/js/bootstrap.min.js"></script>-->
	<script src="../js/usuario.js"></script>
	<!--Css-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
    </HEAD>
    <BODY>
	<!--Container total Logueo-->
	<div class="container" id="logueo">
	    <!--Row-->
	    <div class="container-fluid">  		
		<!--Formulario-->
		<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2" id="Formulario">
		    <!--Titulo-->
		    <div class="row">
			<div>
			    <img src="../Images/Logo1.PNG" id="logo" class="img-responsive">
			</div>                             
		    </div>  
		    <!--Titulo-->
		    <!--Logeo-->
		    <div class="row" id="Form">
                        <div class="col-md-10 col-md-offset-1 col-sm-6 col-sm-offset-3 col-xs-12">
			    <form>
				<div class="form-group">
				    <label for="email" class="control-label col-sm-12">Email address:</label>
				    <div class="col-sm-12">
					<input type="email" class="form-control" placeholder="Correo" id="email">
				    </div>
				</div>
				<div class="form-group">
				    <label for="pwd" class="control-label col-sm-12">Password:</label>
				    <div class="col-sm-12">
					<input type="password" class="form-control" placeholder="Contraseña" id="pwd">
				    </div>
				</div>
				<button type="button" id="access" class="btn btn-danger btn-block">Login</button>
			    </form>
			</div>
		    </div>
		    <!--Ingresar a otra cuenta modal-->
		    <!--<div class="text-center">
			<a href="javascript:void(0)" data-toggle="modal" data-target="#registro">Regístrate Ya!!!</a>
		    </div>-->
		    <!-- Fin Ingresar a otra cuenta modal-->

		    <!--Logeo-->				
		</div>
		<!--Fin Formulario--> 		
	    </div>
	    <!--Fin Row-->
	</div>
	<!--Fin Container Total  Logueo-->

    </BODY>